<link rel="stylesheet" href="../Assets/CSS/footer.css">



<footer class="school-footer" class="dark">


  <div class="footer-container">

    <!-- SCHOOL INFO -->
    <div class="footer-box">
      <h2 data-lang="fttitlemain"><img src="../Assets/Image/icons/home (1).png" alt="" width="30px", height="30px"> វិទ្យាស្ថានអភិវឌ្ឍន៍សហគមន៍</h2>
      <p>Institute of Community Development</p>
      <p data-lang="fttitle">ផ្តល់ការអប់រំគុណភាព និងបច្ចេកវិទ្យាទំនើប</p>
    </div>

    <!-- QUICK LINKS -->
    <div class="footer-box">
      <h3><img src="../Assets/Image/icons/image.png" alt="" width="20px", height="20px"> Quick Links</h3>
      <a href="../index.html" data-lang="fthome">ទំព័រដើម</a>
      <a href="../About_school.html" data-lang="ftab">ប្រវ័ត្តិសាលា</a>
      <a href="../Anungment.html" data-lang="ftan">សេចក្ដីប្រកាស</a>
      <a href="../Community.html" data-lang="ftct">ទំនាក់ទំនង</a>
    </div>

    <!-- CONTACT -->
    <div class="footer-box">
      <h3><img src="../Assets/Image/icons/contect.png" alt="" width="30px" height="30px" > Contact</h3>
      <p>012 766 667/097 650 7777</p>
      <p>info@csuk.edu.kh</p>

      <div class="social">
        <a href="https://t.me/+gHG9FJbsYXc5YzJl"><span><img src="../Assets/Image/icons/telegram.png" alt="" width="20px" height="20px"></span> Telegram: Click Here</a>
        <a href="#"><span><img src="../Assets/Image/icons/facebook.png" alt="" width="20px" height="20px"></span> Facebook: វិទ្យាស្ថានអភិវឌ្ឃសហគន៍</a>
      </div>
    </div>

    <!-- MAP -->
    <div class="footer-box map">
      <img src="../Assets/Image/icons/location.png" alt="" width="30px" height="30px"><h3> Location</h3>
      <iframe
        src="https://www.google.com/maps?q=National+University+of+Chea+Sim+Kamchaymear+Cambodia&output=embed"
        loading="lazy"
        allowfullscreen>
      </iframe>
    </div>

  </div>
  

  <div class="footer-bottom">
    © 2026 INSTIUTE OF COMMUNITY DEVELOPMENT WEBSITE | All Rights Reserved
  </div>

</footer><script src="../Assets/JS/Header.js"></script>