<link rel="stylesheet" href="../Assets/CSS/footer.css">



<footer class="school-footer" class="dark">


  <div class="footer-container">

    <!-- SCHOOL INFO -->
    <div class="footer-box">
      <h2>🏫 វិទ្យាស្ថានអភិវឌ្ឍន៍សហគមន៍</h2>
      <p>Institute of Community Development</p>
      <p>ផ្តល់ការអប់រំគុណភាព និងបច្ចេកវិទ្យាទំនើប</p>
    </div>

    <!-- QUICK LINKS -->
    <div class="footer-box">
      <h3>🔗 Quick Links</h3>
      <a href="../index.html">ទំព័រដើម</a>
      <a href="../About_school.html">ប្រវ័ត្តិសាលា</a>
      <a href="../Anungment.html">សេចក្ដីប្រកាស</a>
      <a href="../Community.html">ទំនាក់ទំនង</a>
    </div>

    <!-- CONTACT -->
    <div class="footer-box">
      <h3>📞 Contact</h3>
      <p>012 766 667/097 650 7777</p>
      <p>info@csuk.edu.kh</p>

      <div class="social">
        <a href="#"><span>✈️</span> Telegram</a>
        <a href="#"><span>📘</span> Facebook</a>
      </div>
    </div>

    <!-- MAP -->
    <div class="footer-box map">
      <h3>📍 Location</h3>
      <iframe
        src="https://www.google.com/maps?q=National+University+of+Chea+Sim+Kamchaymear+Cambodia&output=embed"
        loading="lazy"
        allowfullscreen>
      </iframe>
    </div>

  </div>

  <div class="footer-bottom">
    © 2026 INSTIUTE OF COMMUNITY DEVELOPMENT WEBSITE | All Rights Reserved
  </div>

</footer>