<!DOCTYPE html>
<html lang="km">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>​ICD  វិទ្យាស្ថានអភិវឌ្ឍន៍សហគមន៍</title>

<!-- Khmer Font -->
<link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../Assets/CSS/header.css">

</head>
<body>
<nav id="nav">
  <div class="nav-container">

    <!-- LOGO -->
    <div class="logo">
      <img src="../Assets/Image/anime.jpg">
      <div class="logo-text">
        <h1>សាកលវិទ្យាល័យជាតិជាស៊ីមកំចាយមារ</h1>
        <p>វិទ្យាស្ថានអភិវឌ្ឍន៍សហគមន៍</p>
      </div>
    </div>

    <!-- MENU -->
    <div class="menu">

      <a href="../index.html">ទំព័រដើម</a>

      <div class="dropdown">
        <div class="dropdown-toggle">ព័ត៌មាន ▾</div>
        <div class="dropdown-content">
          <a href="../Life_Skills_Activities.html">បំណិនជីវិត</a>
          <a href="../About_school.html">ប្រវត្តិសាលា</a>
          <a href="../DIctionary.html">គ្រូបង្រៀន</a>
          <a href="../Anungment.html">កម្មពិធីនានា</a>
          <a href="../Generl_study.html">សកម្មភាពម៉ោងអនុវត្ត</a>
          <a href="../Life_Skills_Activities.html">បំណិនជីវិត</a>
          <a href="../Library.html">បណ្ណាល័យទំនើប</a>
          
        </div>
      </div>

      <div class="dropdown">
        <div class="dropdown-toggle">ជំនាញ ▾</div>
        <div class="dropdown-content">
          <a href="../computer siecnce.html">វិទ្យាសាស្រ្តកុំព្យូទ័រ</a>
          <a href="../Electronic.html">អេឡិចត្រូនិក</a>
          <a href="../Accounting.html">គណនេយ្យ</a>
          <a href="../Animal_husbanday.html">ផលិកម្មសត្វ</a>
          <a href="../Agronomy.html">ក្សេត្រសាស្រ្ត</a>

        </div>
      </div>

      <a href="../Community.html">ទំនាក់ទំនង</a>

      <div class="mode">🎨</div>
      
    </div>

    <!-- HAMBURGER -->
    <div class="hamburger">☰</div>

  </div>
</nav>
<script src="../Assets/JS/Header.js"></script>
</body>
</html>
