<!DOCTYPE html>
<html lang="km">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>​ICD វិទ្យាស្ថានអភិវឌ្ឍន៍សហគមន៍</title>

  <!-- Khmer Font -->
  <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../Assets/CSS/header.css">

</head>

<body>
  <nav id="nav">
    <div class="nav-container">

      <!-- LOGO -->
      <div class="logo">
        <img src="../Assets/Image/anime.jpg">
        <div class="logo-text">
          <h1 data-lang="title">សាកលវិទ្យាល័យជាតិជាស៊ីមកំចាយមារ</h1>
          <p data-lang="title2">វិទ្យាស្ថានអភិវឌ្ឍន៍សហគមន៍</p>
        </div>
      </div>

      <!-- MENU -->
      <div class="menu">

        <a href="../index.html" data-lang="home">ទំព័រដើម</a>

        <div class="dropdown">
          <div class="dropdown-toggle" data-lang="navinformation">ព័ត៌មាន ▾</div>
          <div class="dropdown-content">
            <a href="../Life_Skills_Activities.html" data-lang="navlife">បំណិនជីវិត</a>
            <a href="../About_school.html" data-lang="navhistor">ប្រវត្តិសាលា</a>
            <a href="../DIctionary.html" data-lang="navTC">គ្រូបង្រៀន</a>
            <a href="../Anungment.html" data-lang="naveven">កម្មពិធីនានា</a>
            <a href="../Generl_study.html" data-lang="navacti">សកម្មភាពម៉ោងអនុវត្ត</a>
            <a href="../Library.html" data-lang="navLB">បណ្ណាល័យទំនើប</a>

          </div>
        </div>

        <div class="dropdown">
          <div class="dropdown-toggle" data-lang="navskills">ជំនាញ ▾</div>
          <div class="dropdown-content">
            <a href="../computer siecnce.html" data-lang="navCS">វិទ្យាសាស្រ្តកុំព្យូទ័រ</a>
            <a href="../Electronic.html" data-lang="navEC">អេឡិចត្រូនិក</a>
            <a href="../Accounting.html" data-lang="navAC">គណនេយ្យ</a>
            <a href="../Animal_husbanday.html" data-lang="navAH">ផលិកម្មសត្វ និងបសុព្យាបាល</a>
            <a href="../Agronomy.html" data-lang="navacro">ក្សេត្រសាស្រ្ត</a>

          </div>
        </div>

        <a href="../Community.html" data-lang="contact">ទំនាក់ទំនង</a>

        <div class="mode">🌙</div>
        <div class="lang-dropdown" style="background-color: while;">
          <button class="lang-toggle" id="langToggle">
            <img id="langIcon" src="https://flagcdn.com/w40/kh.png">
            <span id="langText">KH ▾</span>
          </button>
          <div class="lang-menu">
            <button class="lang-option" data-lang="kh">
              <img src="https://flagcdn.com/w40/kh.png" alt="Khmer">
              KH
            </button>
            <button class="lang-option" data-lang="en">
              <img src="https://flagcdn.com/w40/gb.png" alt="English">
              EN
            </button>
          </div>
        </div>

      </div>

      <!-- HAMBURGER -->
      <div class="hamburger">☰</div>

    </div>
  </nav>
  <script src="../Assets/JS/Header.js"></script>
</body>

</html>