body{
    margin:0;
    font-family:"Kantumruy Pro", sans-serif;
    background:#0f172a;
    color:white;
}

/* HERO */
.hero{
  width:100%;
  height:500px;   /* 1920 x 500 */
  position:relative;
  overflow:hidden;
}

/* IMAGE */
.hero img{
  width:100%;
  height:100%;
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
}

/* OVERLAY */
.hero::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  /* background:rgba(0,0,0,0.45); */
}

/* CONTENT */
.hero-content{
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
  padding:0 20px;
  animation:fadeUp 1s ease;
}

.hero-content h1{
  font-size:42px;
  margin-bottom:12px;
  color: #16a34a;
}

.hero-content p{
  font-size:16px;
  max-width:650px;
  line-height:1.6;
  margin-bottom:18px;
}

/* BUTTON */
.hero-content button{
  padding:12px 24px;
  border:none;
  border-radius:8px;
  background:#16a34a;
  color:white;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.hero-content button:hover{
  background:#22c55e;
  transform:translateY(-3px);
}

/* ANIMATION */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(25px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero{
    height:350px;
  }

  .hero-content h1{
    font-size:24px;
  }

  .hero-content p{
    font-size:13px;
  }
}


/* ================= SECTION ================= */
.section4{
    padding:70px 10%;
}

.title4{
    text-align:center;
    font-size:34px;
    margin-bottom:40px;
    color: #16a34a;
}

/* GRID */
.grid4{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
}

/* CARD */
.card4{
   
    border-radius:16px;
    overflow:hidden;
    position:relative;
    transition:0.4s;
    box-shadow:0 10px 25px rgba(0,0,0,0.4);
}

.card4:hover{
    transform:translateY(-10px);
}

/* IMAGE */
.card4 img{
    width:100%;
    height:180px;
    object-fit:cover;
}

/* RIBBON */
.ribbon4{
    position:absolute;
    top:15px;
    left:-10px;
    background:#ef4444;
    padding:5px 15px;
    font-size:12px;
    font-weight:bold;
    transform:rotate(-10deg);
}

/* CONTENT */
.content4{
    padding:15px;

}

.date4{
    font-size:12px;
    color:#030303;
    margin-bottom:5px;
}

.content4 h3{
    color: #16a34a;
    margin-bottom:8px;
}

.content4 p{
    font-size:14px;
    color:#000307;
    line-height:1.6;
}

/* TAG */
.tag4{
    display:inline-block;
    margin-top:10px;
    padding:5px 10px;
    border-radius:20px;
    font-size:12px;
    background:#22c55e;
}

/* BUTTON */
.btn4{
    display:block;
    text-align:center;
    margin-top:15px;
    padding:10px;
    background:#f97316;
    border-radius:10px;
    text-decoration:none;
    color:white;
    font-weight:bold;
}

.btn4:hover{
    background:#ea580c;
}

/* ANIMATION */
.card4{
    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

/* RESPONSIVE */
@media(max-width:900px){
    .grid4{
        grid-template-columns:1fr 1fr;
    }
}

@media(max-width:600px){
    .grid4{
        grid-template-columns:1fr;
    }

    .hero-ann h1{
        font-size:28px;
    }
}