body{
    margin:0;
    font-family:"Kantumruy Pro", sans-serif;
    background:#f8fafc;
    color:#0f172a;
}

/* HERO */


/* SECTION */
.section{
    padding:90px 10%;
}

.title{
    text-align:center;
    font-size:32px;
    margin-bottom:50px;
    color:#0d8b2a;
}

/* PROFILE ROW */
.profile{
    display:flex;
    gap:25px;
    align-items:flex-start;
    margin-bottom:40px;
    padding-bottom:20px;
    border-bottom:1px solid #e2e8f0;
}

/* IMAGE 4x6 small */
.profile-img img{
    width:150px;
    height:210px;
    object-fit:cover;
    border-radius:10px;
}

/* TEXT */
.profile-content h2{
    margin:0;
    font-size:20px;
    color:#08923f;
}

.position{
    font-size:13px;
    color:#000000;
    margin:5px 0 10px;
}
.dark .position{
    font-size:13px;
    color:#ffffff;
    margin:5px 0 10px;

}

.desc{
    font-size:14px;
    line-height:1.7;
    color:#030303;
}
.desc , p{
    line-height: 1.7;
}
.dark .desc{
    font-size:14px;
    line-height:1.7;
    color:#ffffff;

}

/* RESPONSIVE */
@media(max-width:768px){
    .profile{
        flex-direction:column;
        text-align:left;
    }

    .profile-img img{
        margin:auto;
        align-items: center;
    }
}

