:root {
  --primary: #16a34a;
  --gold: #d4af37;
  --dark: #0f172a;
  --bg: #f8fafc;
}
body{
    margin:0;
    font-family:"Kantumruy Pro", sans-serif;
    background:#0f172a;
    color:white;
}

/* HERO */
.hero{
  width:100%;
  height:500px;   /* 1920 x 500 */
  position:relative;
  overflow:hidden;
}

/* IMAGE */
.hero img{
  width:100%;
  height:100%;
  object-fit:cover;
  position:absolute;
  top:0;
  left:0;
}

/* OVERLAY */
.hero::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.45);
}

/* CONTENT */
.hero-content{
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
  color:white;
  padding:0 20px;
  animation:fadeUp 1s ease;
}

.hero-content h1{
  font-size:42px;
  margin-bottom:12px;
  color: #16a34a;
}

.hero-content p{
  font-size:16px;
  max-width:650px;
  line-height:1.6;
  margin-bottom:18px;
}

/* BUTTON */
.hero-content button{
  padding:12px 24px;
  border:none;
  border-radius:8px;
  background:#16a34a;
  color:white;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.hero-content button:hover{
  background:#22c55e;
  transform:translateY(-3px);
}

/* ANIMATION */
@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(25px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* RESPONSIVE */
@media(max-width:768px){
  .hero{
    height:350px;
  }

  .hero-content h1{
    font-size:25px;
    color: #16a34a;
  }

  .hero-content p{
    font-size:13px;
  }
}


/* ================= SECTION 3 ================= */
.section3{
    padding:70px 10%;
}

.title3{
    text-align:center;
    font-size:34px;
    margin-bottom:40px;
    color:#16a34a;
}

/* GRID */
.grid3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

/* CARD */
.card3{
    background-color: var(--primary);
    padding:25px;
    border-radius:15px;
    transition:0.4s;
    position:relative;
    overflow:hidden;
}

/* glow effect */
.card3::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(120deg,transparent,rgba(255,255,255,0.2),transparent);
    opacity:0;
    transition:0.4s;
}

.card3:hover::before{
    opacity:1;
}

.card3:hover{
    transform:translateY(-10px);
}



.card3 p{
    font-size:14px;
    color:#fbfcfd;
}

/* ================= SECTION 4 ================= */
.section4{
    padding:70px 10%;
    color: #16a34a;
}

.title4{
    text-align:center;
    font-size:34px;
    margin-bottom:40px;
    color:#16a34a;
}

/* GRID */
.grid4{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

/* GALLERY CARD */
.card4{
    position:relative;
    overflow:hidden;
    border-radius:15px;
}

.card4 img{
    width:100%;
    height:220px;
    object-fit:cover;
    transition:0.5s;
}

/* overlay */
.overlay4{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.6);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:0.4s;
}

.overlay4 h3{
    color:#22c55e;
}

.overlay4 p{
    font-size:13px;
    color:#e2e8f0;
}

/* hover effect */
.card4:hover img{
    transform:scale(1.1);
}

.card4:hover .overlay4{
    opacity:1;
}

/* ================= ANIMATION ================= */
.card3, .card4{
    animation:fadeUp 1s ease;
}

@keyframes fadeUp{
    from{opacity:0; transform:translateY(30px);}
    to{opacity:1; transform:translateY(0);}
}

/* ================= RESPONSIVE ================= */
@media(max-width:900px){
    .grid3,.grid4{
        grid-template-columns:1fr 1fr;
    
    }
}

@media(max-width:600px){
    .grid3,.grid4{
        grid-template-columns:1fr;
    }

    .hero-act h1{
        font-size:28px;
    }
}